<div class="admin">
    <form action="<%= routes.admin.login %>" method="post" autocomplete="off" class="login">
        <input type="text" name="username" placeholder="<%= __('username') %>" autofocus>
        <input type="password" name="password" placeholder="<%= __('password') %>">
        <input type="submit" value="<%= __('authenticate') %>" />
    </form>
</div>
