$color_black: black;
$color_background: #ECEBE8;
$video_height: 225px;
$text_transition_speed: 0.5s;

body {
  margin: 0;
  padding: 20px;
  background-color: $color_background;
  color: $color_black;
  font-family: sans-serif;
  font-size: 18px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
}
h2 > .before,
h2 > .after {
  border-top: 2px solid $color_black;
  height: 2px;
  display: inline-block;
  padding-top: 8px;
}
h2 > .before {
  margin-right: 10px;
  width: 25px;
}
h2 > .after {
  margin-left: 10px;
  width: 100%;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
  margin: 0;
  color: $color_black;
  text-shadow: 0px 0px 5px white;
}

header {
  border: 2px solid $color_black;
  border-left: none;
  width: 100%;
}

a {
  color: black;
}

.flip-container {
  display: inline-block;
  margin-top: 20px;
  margin-right: 21px;
  margin-bottom: 10px;
  cursor: pointer;
  vertical-align: top;
  transition: all 0.2s;
}
.flip-container:hover {
  text-decoration: none;
}
.flip-container:last-child {
  margin-right: 0px;
}
.flip-container:hover {
  box-shadow: 0px 0px 5px black;
}

.flip-container,
.project-tile {
  width: 150px;
  height: 150px;
}

.front {
  position: relative;
}

.project-tile {
  border: 2px solid $color_black;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 1px white;
}

.front .icon {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 53px;
  bottom: 20px;
}

.content {
  padding: 10px;
  position: relative;
}

.description {
  margin: 7px;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  height: 125px;
  display: inline-block;
  color: black !important;
}

.menu {
  margin: 0;
  padding: 0;
  float: right;
  line-height: 41px;
}

.menu-item {
  list-style: none;
  display: inline-block;
  border-left: 2px solid $color_black;
  vertical-align: top;
  margin-left: -6px;
  margin-right: -1px;
}
.menu-item a {
  color: $color_black;
  text-decoration: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
  vertical-align: top;
  transition: all $text_transition_speed;
}
.menu-item a.selected {
  background-color: $color_black !important;
  color: $color_background !important;
}
.menu-item a:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: $color_background;
}
.menu-item.selected a {
  color: $color_background;
  cursor: default;
}

.name {
  font-weight: bold;
  line-height: 41px;
}

.row {
  margin: 0;
}

/* http://callmenick.com/post/slide-down-menu-with-jquery-and-css */
nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
nav ul li {
  display:inline-block;
  position:relative;
}
nav li ul {
  position:absolute;

}
ul.sub-menu {
  display:none;
  background-color: $color_background;
  border-top: 2px solid $color_black;
}
ul.sub-menu > a {
  border: 2px solid $color_black;
  border-top: none;
  width: 100%;
}
.dropdown > a {
  cursor: default;
}

.click-to-show {
  font-style: italic;
  cursor: pointer;
}
.click-to-show:hover {
  text-decoration: underline;
}

.contact-info {
  margin-top: 20px;
}
.contact-info > td {
  margin-top: 15px;
}

.label {
  color: $color_black;
  font-size: 16px;
  text-align: right;
  line-height: 30px;
  font-weight: normal;
}

.value {
  font-size: 19px;
  font-weight: bold;
}

footer {
  font-size: 16px;
  text-align: center;
  border: 2px solid $color_black;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  margin-top: 40px;
  margin-bottom: 10px;
}

.video {
  float : right;
  width: 400px;
  height: $video_height;
  margin-top: 35px;
}

.project-description {
  font-size: 18px;
  width: 430px;
  text-align: justify;
  margin-top: 30px;
  min-height: $video_height;
}

.admin {
  position: relative;

  .login {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  form {
    margin-top: 20px;

    input,
    textarea {
      width: 100%;
      margin-bottom: 20px;
      border: 2px solid black;
      padding: 5px 10px;
      font-size: 16px;
      transition: all 0.5s;
    }
    input:focus {
      box-shadow: 0px 0px 5px;
    }
    input[type=submit]:hover {
      text-decoration: underline;
    }

    .description-wrapper {
      float: right;
      height: 250px;
      width: 50%;

      textarea {
        height: 220px;
      }
    }

    select {
      border: 2px solid black;
      padding: 5px 10px;
      background-color: white;
      margin-top: 10px;
    }

    .delete-project-btn {
      display: inline-block;
      width: auto;
      padding: 5px 20px;
    }

    .language {
      margin-top: 0 !important;
      margin-bottom: -2px;
    }
  }

  .project {
    margin-bottom: 40px;

    form {
      width: 100%;

      /*input {
        width: 203px;
        display: inline-block;
        margin: 0;
        margin-right: 10px;
      }
      input:last-child {
        margin-right: 0px;
      }*/

      .inputs {
        display: inline-block;
        width: 45%;
        vertical-align: top;
      }

      input[type=submit] {
        width: 100%;
        margin-top: 20px;
      }
    }

    select {
      border: 2px solid black;
      padding: 5px 10px;
      background-color: white;
      margin-top: 10px;
      width: 100%;
    }
  }

  input[type=file] {
    border: none;
    padding: 0;
  }
}

.ui-autocomplete {
  list-style: none;
  padding: 0;
  background-color: white;
  border: 2px solid black;
}

.ui-menu-item {
  padding-left: 10px;
}

.ui-menu-item:hover,
.ui-menu-item:focus {
  background-color: $color_black;
  color: white;
}
.ui-helper-hidden-accessible {
  display: none !important;
}

.js-toggle-to {
  cursor: pointer;
}

.project-navigation {
  position: relative;
  height: 40px;
  margin-top: 30px;

  > a {
    position: absolute;
    top: 10px;
    font-size: 16px;
    padding: 10px 12px;
    border: 2px solid $color_black;
    transition: all $text_transition_speed;
  }
  > a:hover {
    background-color: $color_black;
    color: white;
    text-decoration: none;
  }

  .previous {
    left: 0px;
  }

  .next {
    right: 0px;
  }
}
